[submodule "wvu-ds-v2-hugo"]
	path = wvu-ds-v2-hugo
	url = https://github.com/adamglenn/wvu-ds-v2-hugo.git
[submodule "themes/wvu-ds-v2-hugo"]
	path = themes/wvu-ds-v2-hugo
	url = https://github.com/adamglenn/wvu-ds-v2-hugo.git
